{% for item in data %}
    <h1></h1>
    <a href="/catalog/{{ item.product_url }}">{{item.product_name}}</a>
{% endfor %}

<hr>

{% for item in categories %}
    <a href="/catalog/category/{{ item.category_url }}">{{ item.category_name }}</a>
{% endfor %}